<h1><a href="{{ url('admin') }}">Admin panel</a></h1>
<a href="{{ url('admin_baddomains_list') }}">Bad domains</a> <a href="{{ url('admin_baddomains_add') }}"><button>+</button></a>

{{ form_start(form) }}
{{ form_widget(form) }}
{{ form_end(form) }}