<h1><a href="{{ url('admin') }}">Admin panel</a></h1>
<a href="{{ url('admin_baddomains_list') }}">Bad domains</a> <a href="{{ url('admin_baddomains_add') }}"><button>+</button></a>

{% if message is defined %}
    <div class="message">{{ message }}</div>
{% endif %}
{% if error is defined %}
    <div class="error">{{ error }}</div>
{% endif %}

{% if badDomains|length > 0 %}
<table>
    <tr>
        <th>Name</th>
        <th>Actions</th>
    </tr>
    {% for domain in badDomains  %}
        <tr>
            <td>{{ domain.name }}</td>
            <td><a href="{{ url('admin_baddomains_delete', {'id': domain.identifier}) }}"><button>Delete</button></a></td>
        </tr>
    {% endfor %}
</table>
{% else %}
<div class="info">no user found</div>
{% endif %}
