<link rel="stylesheet" href="//cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css" />
<script type="text/javascript" src="//code.jquery.com/jquery-1.12.4.min.js"></script>
<script type="text/javascript" src="//cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>

<table id="clickTable">
    <thead>
        <td>ID</td>
        <td>User-agent</td>
        <td>Ip address</td>
        <td>Referer</td>
        <td>Param1</td>
        <td>Param2</td>
        <td>Errors</td>
        <td>Bad referer</td>
    </thead>
    <tbody>
        {% for click in clicks %}
        <tr>
            <td>{{ click.identifier }}</td>
            <td>{{ click.userAgent }}</td>
            <td>{{ click.ipAddress }}</td>
            <td>{{ click.referer }}</td>
            <td>{{ click.param1 }}</td>
            <td>{{ click.param2 }}</td>
            <td>{{ click.errorCount }}</td>
            <td>{{ click.isBadRefererDomain ? 'yes' : 'no' }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<script type="text/javascript">
    $('#clickTable').dataTable();
</script>