<div class="tracking-info">
    <div>
        <span>User-agent:</span><span>{{ click.userAgent }}</span>
    </div>
    <div>
        <span>Ip adress:</span><span>{{ click.ipAddress }}</span>
    </div>
    <div>
        <span>Referer:</span><span>{{ click.referer }}</span>
    </div>
    <div>
        <span>Param1:</span><span>{{ click.param1 }}</span>
    </div>
    <div>
        <span>Param2:</span><span>{{ click.param2 }}</span>
    </div>
</div>